<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KtSubs.Wpf.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KtSubs.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KtSubs.Wpf.Properties.AppSettings>
            <setting name="WebInterfacePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="PauseVideoWhenSelecting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplaySelectionWindowWhenSubtitleEntryIsInRange"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkvToolnixFolder" serializeAs="String">
                <value>C:\Program Files\MKVToolNix</value>
            </setting>
            <setting name="LocationOfExtractedSubtitles" serializeAs="String">
                <value>%LOCALAPPDATA%\KtSubs\subtitles</value>
            </setting>
        </KtSubs.Wpf.Properties.AppSettings>
        <KtSubs.Wpf.Properties.Settings>
            <setting name="WebInterfacePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="PauseVideoWhenSelecting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplaySelectionWindowWhenSubtitleEntryIsInRange"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MkvToolnixFolder" serializeAs="String">
                <value />
            </setting>
        </KtSubs.Wpf.Properties.Settings>
    </userSettings>
</configuration>